.Button {
  opacity: 0.9;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  z-index: 1;
  color: #0d1b2a;
}

.Button > a {
  text-decoration: none;
  color: #0d1b2a;
  width: 100%;
  display: block;
}

.default {
  background-color: #7a7878;
}

.primary {
  background-color: #fdc500;
}

.danger {
  background-color: #d90429;
  color: #edf2f4;
}

Button:hover {
  opacity: 1;
}
