.title {
  color: #fdc500;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  font-weight: 300;
  letter-spacing: 0.4rem;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

.carousel {
  height: 18.75rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 37.5rem) {
  .title {
    font-size: 2rem;
  }

  .carousel {
    height: 31.25rem;
  }
}
