.Game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3125rem;
  margin-bottom: 0.9375rem;
  padding: 1.25rem;
  background-color: #1b263b;
}

.Game > :first-child {
  align-self: center;
}

.Game > :not(:last-child) {
  margin-bottom: 0.5rem;
}

.Game h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.Game span,
.Game button {
  font-weight: 700;
}

.Game button {
  font-size: 1rem;
}

@media (min-width: 650px) {
  .Game {
    margin-bottom: 20px;
  }
}
