.Game {
  box-shadow: 0 0 6px 0.5px black;
  margin-bottom: 15px;
  padding: 10px;
  max-width: 300px;
}

.GameMeta {
  display: flex;
  justify-content: space-between;
}

.Game img {
  width: 100%;
}

.Game span {
  font-size: 1.2rem;
  font-weight: 900;
  color: #071394;
}

@media (min-width: 650px) {
  .Game {
    margin-bottom: 20px;
  }
}
