header {
  box-shadow: 0 0.5px 8px 0.4px black;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 50px;
  z-index: 100;
}

.AppName {
  font-family: 'Orbitron', sans-serif;
}

.HeaderBar a {
  text-decoration: none;
  color: #071394;
}

.HeaderBar {
  display: flex;
  justify-content: space-between;
  color: #071394;
}

.HeaderBar > span {
  font-size: 1.1rem;
}

@media (min-width: 600px) {
  .HeaderBar > span {
    font-size: 1.5rem;
  }
}
