body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
}

header {
  box-shadow: 0 0.5px 8px 0.4px black;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 50px;
}

img {
  max-width: 100%;
}

.Field {
  margin-bottom: 14px;
}

.Field label {
  display: block;
}

.Field input {
  width: 85%;
}

.Container {
  padding: 10px;
}

@media (min-width: 900px) {
  .Container {
    margin: 0 auto;
    max-width: 900px;
  }
}
